$navbarPrimaryColor: #040142;
$navbarSecondaryColor: lighten($navbarPrimaryColor, 40%);
$filterBorder: 2px solid #9c9c9c;
$productShadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
$lineBreak: 1px solid #9c9c9c;
$brandItemBackground: #e0e0e0;
$productBorder: 1px solid #dedede;