@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Roboto:wght@400;700&family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Roboto+Condensed&family=Roboto:wght@400;700&family=Sono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Bebas+Neue&family=Manrope&family=Roboto+Condensed&family=Roboto:wght@400;700&family=Sono:wght@300&display=swap');
@import 'variables';
@import 'navbar';
@import 'home';
@import 'products';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

